@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


/************ Default Css ************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    
}
html {
    
	scroll-behavior: smooth;
    scroll-padding-top: 56px;
}
body {
    color:#dcdcdc;
    font-family: Orbitron;
	font-weight: 400;
    font-size: 16px;
	overflow-x: hidden;
    position: relative;
	background-color: #121212;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	line-height: normal;
}

p, a, li, button, ul {
	margin: 0;
	padding: 0;
	line-height: normal;
    text-decoration: none;

}
a:hover {
	text-decoration: none
}
img {
	width: 100%;
	height: auto;
    border-radius:8px;
}
button {
	border: 0;
	background-color: transparent;
}
input:focus, textarea:focus, select:focus {
    outline: none;
}
@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 152px;
	}
}
nav.navbar.scrolled {
    background-color: #121212;
    height: auto;
}

/************ Navbar Css ************/
.banner{
    background-color: #121212;
}
nav.navbar {
    position: fixed;
    width: 100%;
    top:0;
    z-index: 9999;
    transition: 0.3s ease-in-out;
}

nav.navbar img {
    width: 90%;
}
nav.navbar ul.navbar-nav li.nav-item a.nav-link {
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.8px;
    padding: 16px,24px;
    font-size: 18px;
    opacity: 0.75;
}
nav.navbar ul.navbar-nav li.nav-item a.nav-link:hover,
nav.navbar ul.navbar-nav li.nav-item a.nav-link.active {
    opacity: 1;
    color: #58FF71;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: inline-block;
    margin-left: 14px;
}
.social-icon a {
    width: 24px;
    height: 24px;
    display: inline-flex;
    border-radius: 8%;
    padding-top: 24px;
    align-items: center;
    justify-content: center;
    line-height: 1;
   
}
.social-icon a::before {
    content: "";
    width: 24px;
    height: 24x;
    position: absolute;
    background-color: #58FF71;
    border-radius: 16%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 100%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
    font-weight: 700;
    color: #fff;
    border: 1px solid #58FF71;
     border-radius: 16px;
    padding: 18px 32px;
    font-size: 18px;
    margin-left: 24px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
	z-index: 1;
}
.navbar-text button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #58FF71;
    border-radius: 16px;
    left: 0;
    top: 0;
    z-index: -1;
	transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
	color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
	width: 32px;
	height: 18px;
	background-image: none;
	position: relative;
	border-bottom: 2px solid #fff;
	transition: all 300ms linear;
    top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 32px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 6px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 6px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

.nav-item {
    padding-right: 32px;
}
.vvd,.taglin{
    border-radius: 8px;
   padding-left: 24px;
}




/************ Banner Css ************/

.banner h2 {
    font-size: 24px;
    max-width: 500px;
    color:#dcdcdc;
    font-weight: 100;
    line-height: 1.3em;
    margin-top: 16px;
    display: inline-block;
}


.banner p {
    max-width: 500px;
    padding-top: 16px;
    color:#dcdcdc;
    font-weight: 100;
    line-height: 1.5em;
}

    
.banner img {
    animation: updown 6s linear infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}


.banner button {
    color: #f2f2f2;
     padding: 8px 16px;
    border: 1px solid #f2f2f2;
    background-color: #232323;
     border-radius: 16px;
    font-weight: 700;
    font-size: 24px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
}
.banner button i {
	font-size: 25px;
    color: #58FF71;
	margin-left: 10px;
	transition: 0.3s ease-in-out;
	line-height: 1;
}
.banner button:hover i {
	margin-left: 25px;
}

.banner img {
    border-radius: 16px;
}





.sdf {
    top: 28%;
    position: absolute;
    bottom: 0;
    width: 40%;
    z-index: -4;
}

/************ Recent Projects ************/
.proj-recent {
 margin-top:200px;
 margin-bottom:112px;

}

.proj-recent {  
     background-color: #121212;
    position: relative;
     margin-top:200px;
   
}

.proj-recent h1 {
    margin-bottom: 40px;
    color:#58FF71;
    font-size: 48px;
    font-family: Orbitron;
	font-weight: 700;
    text-align: center;
    
}
.proj-recent h6 {
  
     margin-bottom:24px;
    color:#f2f2f2;
    font-size: 16px;
    font-family:Helvetica;
	font-weight: 500;
    text-align: center;
    
    
}


/************ ValuesProp ************/

.headvalue1 {
    margin-top: 112px;
    color:#58FF71;
    font-size: 48px;
    font-family: Orbitron;
	font-weight: 700;
    text-align: center; 
} 

.values-prop h3 {
    padding-left: 16px;
    color:#f2f2f2;
    font-size: 20px;
    font-family: Orbitron;
	font-weight: 700;
    text-align: center; 
} 


.values-section {
  padding: 24px 16px;
  max-width: 1100px;
  margin: 0 auto;
}



.values-grid {
  display: grid;
  grid-template-columns: repeat( 1fr);
  gap: 48px;
}


.values-block {
    margin-top: 24px;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 500;

}
.values-block ul {
  list-style: none;
  padding: 16px;
  margin: 0;
}

.values-block li {
  position: relative;
  font-size: 16px;
  padding-left: 16px;
  line-height: 150%;
  margin-bottom: 8px;
  color:#dcdcdc;
}

.values-subtitle {
  max-width: 600px;
  margin: 0 auto 80px;
  text-align: center;
  font-size: 16px;
    line-height: 150%;
  opacity: 0.9;
}

.values-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 48px;
}




/************ all Projects Css ************/
.project {  
     background-color: #121212;
    position: relative;
    margin-top: 112px;
   
}

.project h1 {
    padding-bottom: 40px;
    color:#58FF71;
    font-size: 48px;
    font-family: Orbitron;
	font-weight: 700;
    text-align: center;
    
}
.project h6 {
    margin-bottom:24px;
    color:#f2f2f2;
    font-size: 16px;
    font-family:Helvetica;
	font-weight: 500;
    text-align: center;
    
}

.proj-imgbx {
    position: relative;
    border-radius:24px;
    overflow: hidden;
    margin-bottom: 32px;
}
.proj-imgbx::before {
    content: "";
    background: rgb(149, 244, 169);
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 0;
    transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
    height: 100%;
}

.proj-txtx {
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    font-size: 24px;
    font-weight: 600;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
    width: 100%;
}

.proj-imgbx:hover .proj-txtx {
    top: 50%;
    opacity: 1;
    

}

.proj-imgbx:hover::after{
    opacity: 1;

}


.sdf2 {
    top: 20%;
    position: absolute;
    bottom: 0;
    width: 35%;
    right: 0;
    z-index: -4;
}


/************ Projects Css end ************/

/************ About me ************/
.contact {
     margin-top: 112px;
     background-color: #121212;
     align-items:center; 
     display: flex;
     justify-content: space-between;
     
}
.contact h1 {
     margin-bottom:40px;
    color:#58FF71;
    font-size: 48px;
    font-family: Orbitron;
	font-weight: 700;
    text-align: center;
}
.two-column-text {
    padding-bottom: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 32px; /* Space between the columns */
     
}


.two-column-text p:nth-child(odd) {   
     padding-bottom: 24px;
     color: #dcdcdc;
     border-radius: 8px;
     font-weight:300;
    
}

.two-column-text p:nth-child(even) { 
     padding-bottom: 24px;
     color: #dcdcdc;
    border-radius: 8px;
     font-weight:300;
}
.two-column-text p {
    text-align: justify; /* Makes the text look neat */
    /* Adds spacing between paragraphs */
}

/* For smaller screens, fallback to a single column */
@media (max-width: 768px) {
    .two-column-text {
        grid-template-columns: 1fr; /* Single column on smaller devices */
    }
}

.contact img{
    width:296px;
    width:60%;
    border-radius: 8;
    

}

.contact h2 {
	font-weight:700;
  
}

.contact p{
    padding-top:16px;
    padding-bottom: 16px;
    font-family:Helvetica;
    line-height: 150%;
    font-size: 16px;
    
}



/************ Footer Css ************/
.footer {
     background-color: #121212;
    margin-top: 32px;
    margin-bottom: 32px;
    padding-top:16px;
    background-position: center;
    background-size: cover;
    align-items: center;
    background-repeat: no-repeat;
}


.footer p {
    padding-top: 8px;
    font-weight: 400;
    font-size: 14px;
    color: #f5f5f5;
    letter-spacing: 0.5px;
    align-items: center;
    
}
.social-icon{
    align-items: center;
}
